.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background: rgb(228, 227, 227);
    box-shadow: 2px 2px 50px rgb(182, 179, 179);
    overflow: scroll;
    transform: translate(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    h2 {
        padding: 2rem
    }
}

.library-song {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    transition: background 0.7s ease;
    img{
        width: 30%;
    }
    &:hover {
        background: rgb(250, 224, 229);
    }
}

.song-description{
    padding-left: 1rem;
    h3{
        font-size: 1rem;
    }
    h4 {
        font-size: 0.7rem
    }
}

*{
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

.selected{
    background: rgb(243, 190, 199);
}

.active-library{
    transform: translate(0%);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .library {
        width: 100%;
    }
}

